/* @theme aviation */

@import 'default';

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

left {
   float: left;
   padding-right: 50px;
}

right {
   padding-left: 50px;
   float: right;
}

right-section {
   padding-left: 50px;
   float: right;
   width: 50%;
}

invert {
   color: white;
}

key {
   color: red 
}

non-key {
   color: rgb(158, 158, 158);
}

quote {
   color: grey;
}

footnote {
   font-size: 16px;
   color: grey;
}

img[alt~="video"] {
   position:absolute;
   left: 0px;
   top: 0px;
   width:100%;
   height: 100%;
}